/*13*/
.class-0 {
    background-color: red;
    color: white;
}
/*14*/
.class-1 {
    background-color: blue;
    color: white;
}
.class-2 {
    background-color: green;
    color: yellow;
}
/*15*/
.im-hidden {
    display: none;
}
