body {
    background: black;
    /*color: white;*/
}

.wd-A {
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 600px;

    border-bottom: 1px solid lightgray;
    border-left: 1px solid rgb(47,51,54);
    border-top: 1px solid rgb(47,51,54);
    border-right: 1px solid rgb(47,51,54);
}
.wd-border {
    border: 1px solid rgb(47, 51, 54);
}

.wd-A-title {

    color: white;
    font-size: 20px;
}
.wd-A-handle {
    color: lightgray;
    font-size: 13px;
}
.wd-float-left {
    float: left;
}
.wd-B-C-D-E-F-G {
    margin-left: 16px;
    width: 600px;
    padding-left: 16px;
    /*height:410px;*/
}
.wd-B {

    padding-top: 12px;
}
.wd-B-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.wd-C {
    margin-left: 12px;
    margin-top: 12px;
}
.wd-C-author {
    font-size: 15px;
    color: white;
}
.wd-C-handle {
    font-size: 15px;
    color: lightgray;
}
.wd-D {
    margin-left: 12px;
    width: 506px;
    font-size: 15px;
    padding-bottom: 12px;
    padding-right: 16px;
    color: white;
}
.wd-E {
    /* 16 + 48 + 12*/
    padding-left: 76px;
    margin-bottom: 0px;
}
.wd-E-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid lightgray;

}
.wd-E-F {
    width: 504px;
    margin-top: 72px;
    margin-left: 60px;
    /*border-bottom: solid;*/
    /*border-left: solid;*/
    /*border-right: solid;*/

}
.wd-E-F-border{
    border-left:1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    border-radius: 20px;
}

.wd-F-title {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 12px;
}
.wd-F-text {
    font-size: 15px;
    color: lightgray;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.wd-G {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 76px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.wd-icon-num-space {
    padding-left: 12px;
    color: lightgray;
}
.wd-G-hyperlink {
    text-decoration: none;
    color: lightgray;
}
.wd-G-heart {
    text-decoration: none;
    color: red;
}
