body {
    background-color: black;
    color: white;
}
.wd-container {
    margin-left: 16px;
    width: 600px;
    margin-top: 12px;
}
#A {
    margin-top: 8px;
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#A .search-bar {
    padding-left: 16px;
}

#search {
    background-color: #464141;
    border: solid;
    border-radius: 25px;
    width: 450px;
    height: 30px;
    padding-left: 40px;
}
#search-icon {
    position: absolute;
    top:33px;
    left: 70px;
}

#setting {
    text-decoration: none;
    color: white;
    padding-right: 12px;
}

.wd-A-B {
    margin-left: 16px;
    width: inherit;
    height: 110px;
}

.wd-border {
    border: 1px solid rgb(47, 51, 54);
}

#gear {
    position: relative;
    top: 10px;
    left: 20px;
}

#B {
    margin-left: 16px;
    margin-right: 12px;
    /*width: 550px;*/
    height: 50px;
}

.wd-B-foryou {
    padding: 16px;
    font-weight: bold;
}

.wd-color-blue {
    color: rgb(29, 161, 242);
    text-decoration: none;
}

.wd-btm-blue {
    border-bottom: 3px solid rgb(29, 161, 242);
}

.wd-flex-container-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-B-text {
    font-size: 15px;
    padding: 16px;
    font-weight: bold;
}

.wd-no-link-decor {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-divider {
    height: 5px;
    margin-left: 16px;
    width: inherit;
}
.wd-C {
    margin-left: 16px;
    margin-right: 12px;
    width: inherit;
    height: 75px;
}

.wd-C-topic-and-num {
    font-size: 13px;
    color: rgb(110, 118, 125);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
}

.wd-C-title {
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
}

.wd-D {
    margin-left: 16px;
    margin-right: 12px;
    width: inherit;
    height: 120px;
}

.wd-rounded-image {
    border-radius: 25px;
    margin-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-content-box {
    width: 450px;
    height: 120px;
    margin-left: 16px;
}
.wd-E-topic {
    font-size: 13px;
    color: lightgray;
}



